{% extends "base.html" %}

{% block content %}
<h1>Раздел одежды</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
    perspiciatis quas repellendus aspernatur dolor eos? Animi possimus eum
    quaerat illo, mollitia ipsa totam sunt facere ex qui, quod eligendi quasi
    eos debitis magnam amet nesciunt rem fugiat iusto! Ipsa at reiciendis vel id
    dolorem libero mollitia modi voluptas aut maxime?</p>
<br>
<p>Также загляните на страницу с нашими куртками </p>
<a href="{{ url_for('jackets') }}">Куртки</a>
{% endblock %}
