{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать в наш интернет-магазин!</h1>
<br>
<h2>Описание нашего интернет-магазина:</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
    perferendis saepe earum impedit facilis corrupti, doloremque, qui incidunt
    suscipit sit excepturi aliquam inventore esse quae ex laudantium sunt
    deserunt odio. Iusto vel at nam est iste pariatur accusamus corporis,
    ratione magni amet repellat delectus dolor quod fugiat sunt alias eos.</p>
{% endblock %}
